.kialiAnnotation-error {
  position: absolute;
  background: rgba(204, 0, 0, 0.5);
}
.kialiAnnotation-warning {
  position: absolute;
  background: rgba(236, 122, 8, 0.5);
}
.kialiAnnotation-info {
  position: absolute;
  background: #d1d1d1;
}
